.container {
  width: 355px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 15px;
  margin-left: 25px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

li a {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.clock-wrapper {
  display: flex;
  gap: 8px;
}

.clock-wrapper input {
  width: 272px;
  height: 40px;
  padding-left: 16px;

  border-radius: 4px;
  border: 1px solid #808080;

  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: inherit;
}

.clock-wrapper button {
  width: 75px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 55px;
  height: 48px;
}

.value {
  color: #2e2f42;
  font-size: 40px;
  line-height: 1.2; /* 120% */
  letter-spacing: 1.6px;
}

.label {
  color: #2e2f42;
  line-height: 1.5; /* 150% */
}

.icon-true {
  background-image: url('../img/bi_check2-circle.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-false {
  background-image: url('../img/bi_x-octagon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.iziToast {
  position: absolute !important;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.timer {
  display: flex;
  gap: 16px;
}

.value {
  font-size: 60px;
}

input {
  border-radius: 4px;
  background-color: #fff;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: 16px;
}

input:hover {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #4e75ff;
}

input:disabled {
  border: 1px solid #808080;
}

button {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  border: none;
}
button:hover {
  background-color: #6c8cff;
}

button:disabled {
  color: #989898;
  background-color: #cfcfcf;
} */
